[submodule "Abbrev"]
	path = Abbrev
	url = ../MultiLangWritingAbbrevs.git
[submodule "library-of-babel"]
	path = library-of-babel
	url = ../library-of-babel.git
[submodule "snippets"]
	path = snippets
	url = ../MyYASnippets.git
